<?xml version="1.0" encoding="UTF-8"?>
<!-- scan this file for configuration changes every minute -->
<!-- change the scan period with: <configuration scan="true" scanPeriod="30 seconds" > -->
<configuration scan="true">
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} %-5p [%-4.15t] %-40.60c - %m%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>
  <logger name="com.sas" level="INFO">
  </logger>
  <logger name="org.apache" level="INFO">
  </logger>
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>
